<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <meta name="author" content="monicaqin">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>run</title>
</head>
<body>

<script src="http://jsapi.qq.com/get?api=x5gameplayer.run"></script>
<script src="http://res.imtt.qq.com///activity/game/js/real/common11.js"></script>
<script src="http://res.imtt.qq.com///activity/game/js/real/gameOpen11.js"></script>
<script type="text/javascript">
    (function(){
                browser.x5gameplayer.run({
                    gameId: "8601554899", // 需要腾讯配置
                    engineName: "cocos-v3",
                    localDebug: false,
                    orientation : "portrait",
                    gameName : "<%= gameName %>",
                    gameIconUrl : "http://1251001828.cdn.myqcloud.com/1251001828/runtime/star2comm/icon.png",
                    runUrl: "http://1251001828.cdn.myqcloud.com/1251001828/runtime/star2comm/gameshare.html",
                    gameUrl: "http://1251001828.cdn.myqcloud.com/1251001828/runtime/star2comm/gameshare.html",
                    ext : JSON.stringify({
                        enable_silent_download: false,
                        packageName: "<%= packageName %>",
                        resUrl: "<%= url %>"
                    })
                });
            }
    )();

</script>
</body>
</html>